<div id='title' class='info-box-div'>
  <a href="/"><h1><span id='dev'>dev</span><span id='lunchbox'>lunchbox</span></h1></a>
</div>
<div id="map">
</div>
<div id='instructions' class='info-box-div'>
  <h1>Right click on the map to add a new lunch spot</h1>
</div>
<div class='info-box-div' id='add-new-lunchbox-div'>
<h4>Add information about the great lunch spot you've found!</h4>
  <form>
    <label for='name'>Name:</label>
    <input type='text' autofocus placeholder="Don Miguel's Taco Shop" name='name'><br><br>
    <label for='description'>Enter a short description:</label>
    <input type='text' placeholder='Cali burrito is excellent, carne asade fries so-so' name='description'><br><br>
    <label for='tags'>Enter tags separated by commas:</label>
    <input type='text' placeholder='cheap, tacos, Mexican, $7-lunch' name='tags'><br><br>
    <button type='submit' id='add-lunchbox-btn'>Add it to the map</button>
    <button type='submit' id='cancel-add-lunchbox-btn'>Cancel</button>
  </form>
</div>
